# GENERAL
tqdm
numpy
plotly

# FOR OPENAI
openai
langchain
tiktoken
requests

# FOR FASTAPI
fastapi
uvicorn
python-multipart
loguru
# jinja2

# FOR PROMETHEUS
prometheus_fastapi_instrumentator

# OTHER
# gif[plotly]
# gif==3.0.0
scipy
pydantic
json2table
configparser
email-validator