# GENERAL
tqdm
numpy
plotly

# FOR OPENAI
openai
langchain
tiktoken
requests

# FOR NLP
transformers == 4.29.2
sentencepiece == 0.1.99
torch
sacremoses

# FOR FASTAPI
fastapi
uvicorn
python-multipart
loguru
asyncpg
# jinja2

# FOR PROMETHEUS
prometheus_fastapi_instrumentator

# OTHER
# gif[plotly]
# gif==3.0.0
scipy
pydantic
json2table
configparser
email-validator