# GENERAL
tqdm
numpy
plotly
configparser
email-validator

# FOR OPENAI
openai
langchain
tiktoken
requests
faiss-cpu

# FOR NLP
pymystem3

# FOR FASTAPI
fastapi
uvicorn
python-multipart
loguru
asyncpg
python-dotenv
# jinja2

# FOR PROMETHEUS
prometheus_fastapi_instrumentator

# OTHER
# gif[plotly]
# gif==3.0.0
pandas
pydantic
json2table
